h2{
    font-size:1.5em;
    background-color: #ccc;
    margin: 20px:
    padding: 40px;
}

/*  body und schrift deffinitionen */
html {
    padding:0px;
    margin:0px;
}
.light-background{
    background-color: #f4f7f9;
}
body {
    font: 14px 'Microsoft YaHei','Helvetica Neue',arial,sans-serif,'Hiragino Sans GB',Tahoma;
    line-height: 1.7;
    color:#564b47;
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    position: absolute;
}
a {
    color: #ff66cc;
    font-size: 11px;
    background-color:transparent;
    text-decoration: none;
}
.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}
#logo {
    position: absolute;
    right: 2%;
    width: 96%;
    text-align: right;
    top: 20px;
}
#container{
    height: 100%;
    width: 300%;
    overflow: hidden;
    position: relative;
}
.column {
    left: 10px;
    width: 433px;
    height: 90%;
    top: 10px;
    margin-left:10px;
    margin-right:0px;
    float: left;
    position: relative;
}
.list-container{
    width: 100%;
    height: 95%;
    margin-right: 10px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    position:relative;
}
.list{
    width: 423px;
    min-height: 100%;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    float: left;
    position:relative;
}
.card-folded {
    float: left;
    width: 400px;
    min-height: 0px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}


.inner-shadow{
   box-shadow: inset 0.5px 0.5px 5px -2px rgba(25, 25, 25, 0.3);
}

.shadow {
}
.shadow:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}


